NEXT_PUBLIC_PINATA_JWT=
ETHERSCAN_API_KEY=
NEXT_PUBLIC_ETHERSCAN_API_KEY=
SEPOLIA_RPC_URL=
DEPLOYER_PRIVATE_KEY=
NEXT_PUBLIC_SEPOLIA_RPC_URL=
NEXT_PUBLIC_RPC_WSS_URL=

ARTIFACTS_PATH=../blockchain/artifacts/contracts
DEPLOYMENTS_FILE=scripts/deploy.js
PKI_BRIDGE_DEBUG=false